/* Input Blue Background */
.v-text-field--outlined>.v-input__control>.v-input__slot {
  background: #eaedf4 !important;
}

.qty-input input {
  text-align: center;
}

a {
  text-decoration: none;
}

.v-btn {
  text-transform: unset !important;
}

h2.page-head {
  color: #104388;
  font-size: 32px;
  font-weight: 400;
  padding: 0.8em 0;
  text-align: left;
  text-transform: capitalize;
}

@media(max-width: 767px) {
  .v-label {
    font-size: 13px;
  }
}
